 @import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #000000 !important;
}

.nav-link {
  color: #ffffff !important;
}

#logo {
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

}